<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>React PGN Viewer</title>
    <link rel='stylesheet' href='https://highlightjs.org/static/demo/styles/default.css'/>
     <!-- <link rel="stylesheet" href="node_modules/highlight.js/styles/darcula.css"> -->
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>
